.order{
    display: flex;
    padding-top: 200px;

    .main{
        width: 50%;
        padding-left: 15%;

        .topBlock{
            display: flex;
            flex-direction: column;
            align-items: end;
            padding-top: 10%;
            padding-right: 140px;

            .title{
                @include title;
                padding-bottom: 0;
                h4{
                    padding-right: 100px;
                }
            }
        }

        .orderBlock{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 100px;

            p{
                font-size: 24px;
                font-weight: 400;
                padding-bottom: 50px;
            }

            input{
                border: 1px solid #e2ab3f;
                background: #fff;
                width: 383px;
                height: 50px;
                margin-bottom: 20px;
            }
            input::placeholder{
                color: #000;
                font-size: 18px;
                font-weight: 300;
                padding-left: 31px;
            }

            button{
                width: 280px;
                height: 50px;
                border: 1px solid #e2ab3f;
                background: #fff;
            }
        }
    }
    .image{
        width: 50%;
    }
}
