.ourTrip {
  padding-top: 194px;
  display: flex;
  .main {
    width: 50%;
    .title {
      @include title;
    }

    .info {
      margin-left: 15%;
      width: 296px;
      row-gap: 50px;
      display: flex;
      flex-direction: column;

      .day {
        p {
          font-size: 18px;
          font-weight: 300;
          margin: 0;
        }
        p:first-child {
          font-weight: 400;
        }
      }

      button {
        width: 280px;
        height: 50px;
        border: 1px solid #e2ab3f;
        background: #fff;
      }
    }
  }

  .carousel {
    display: flex;
    width: 50%;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 70px;
      height: 70px;
    }
  }
}
